/* Write your CSS here */
.app-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  color: #2d3a35;
}

.count {
  color: #c20a72;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 18px;
  color: #2d3a35;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
}
